@charset "UTF-8";
.bg-col-1 {
  background: #60372f;
  color: white;
}

.main-button {
  width: 350px;
  max-height: 35px;
  background: #54555A;
  color: white;
  border: none;
  text-transform: uppercase;
  margin-left: 15px;
}
.main-button:hover {
  cursor: pointer;
}
.main-button.small {
  width: 200px;
  margin-bottom: 16px;
  padding: 2px 0;
}
#navbarSupportedContent {
  font-size: 14px;
}
#navbarSupportedContent ul {
  margin: 0 auto;
}
#navbarSupportedContent ul li {
  color: white;
}
#navbarSupportedContent ul li.active {
  color: #00a671;
  font-weight: bolder;
}
#navbarSupportedContent ul a {
  text-transform: uppercase;
  color: inherit;
}

.ball {
  background: #00a671;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.multiselect .buttons {
  position: relative;
}
.multiselect .buttons .selector {
  position: relative;
  background: #e5e5e5;
  padding: 8px;
  height: 35px;
}
.multiselect .buttons .selector .arrow {
  position: absolute;
  top: 0;
  right: 0;
}
.multiselect .buttons .selector .arrow:hover {
  cursor: pointer;
}
.multiselect .buttons .values {
  background: #e5e5e5;
  padding: 8px;
  position: absolute;
  width: calc(100% - 30px);
  z-index: 9999;
}
.multiselect .buttons .values input {
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid #cacece;
  padding: 6px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}
.multiselect .buttons .values input:checked:after {
  content: "✔";
  font-size: 8px;
  position: absolute;
  top: 0;
  left: 2px;
}

.hide {
  transition: display 1s;
  display: none;
}

table {
  width: 100%;
  font-size: 12px;
}
table thead {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
table .title .name {
  max-width: 70px;
  min-height: 50px;
  float: left;
}
table .title img {
  margin-left: 4px;
  cursor: pointer;
}

#table_pagination {
  margin: 0 auto;
  max-width: 200px;
}
#table_pagination button {
  margin-right: 8px;
  padding: 2px 8px;
  border: none;
  background: #e5e5e5;
  font-size: 12px;
}
#table_pagination button:hover {
  cursor: pointer;
}
#table_pagination button.clicked {
  background: #00a671;
  color: white;
}

.rzuty {
  background-image: url("./assets/Grupa 46.png");
  background-size: contain;
  color: white;
}
.rzuty .description {
  background: #60372f;
  padding: 16px;
}
.rzuty .description tr {
  margin-bottom: 4px;
}

.contact {
  background-image: url("assets/bgreen_g.png");
  background-size: contain;
  color: white;
  font-size: 12px;
}
.contact .title {
  float: right;
  font-size: 20px;
  border-bottom: 1px solid #00a671;
  padding-top: 16px;
  width: 200px;
}
.contact .formularz input, .contact .formularz textarea {
  width: 300px;
}
.contact .formularz .required {
  position: relative;
  max-width: 300px;
  margin-bottom: 25px;
  border: 1px solid red;
}
.contact .formularz .required::after {
  content: "required";
  position: absolute;
  border: 1px solid red;
  color: red;
  font-weight: bold;
  background: white;
  width: 70px;
  height: 20px;
  text-align: center;
  top: -22px;
  right: 0;
}
.contact .formularz .autentykacja {
  width: 300px;
  margin: 0;
}
.contact .formularz .autentykacja input {
  width: 140px;
  max-height: 24px;
  float: outside;
}
.contact .formularz .autentykacja .input-container, .contact .formularz .autentykacja .email-container {
  margin-left: 17px;
}
.contact .main-button {
  width: 300px;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
